.form-header {
    margin: auto;
    /* font-size:  */

}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    min-width: 500px;
    margin-bottom: 2rem;
}

form section {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

/* form section p {
    color: var(--color);
    margin: 0 0 .5em;
} */

form section label {
    color:grey;
    margin-left: .5rem;
    font-weight: 500;
}

form section input {
    border: 1px solid grey;
    outline: none;
    width: 100%;
    border-radius: 6px;
    padding: .5rem;
}

form select,
form textarea{
    padding: .5rem;
    border-radius: 6px;
    outline: none;
}
form input:focus,
form select:focus,
form textarea{
    border-color: var(--color);
}

form textarea{
    resize: vertical;
}

/* form section input:focus {

    border-color: var(--color);
} */

form .leave-duration > *:first-child{
font-weight: 700;
}



form .split-section {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;

}

form button {
    background-color: var(--color);
    color: white;
    border-radius: 6px;
    padding: .5rem;
    border:none;
    margin-top: 1.5rem;
}

form button a,
form button a:focus,
form button a:hover{
    color:#fff ;
    text-decoration: none;
}




.footer{
    position:static;
    margin:3rem 0 0 0;
}